{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <h1>Sell</h1>
    <form action="/sell" method="post">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 mx-auto">
            <label for="symbol" style="margin-bottom: 10px;">Choose a stock:</label>
            <select name="symbol" id="symbol">
                {% for symbol in symbols %}
                    <option value="{{ symbol }}">{{ symbol }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 mx-auto">
            <label for="shares" style="margin-bottom: 10px;">Shares</label>
            <input class="form-control form-control-lg" id="shares" name="shares" placeholder="Shares" type="number">
        </div>
        <div style="margin-top: 10px;">
            <button class="btn btn-primary" type="submit">Sell</button>
        </div>
    </form>
{% endblock %}